.title {
  background-color: rgb(26, 134, 201);
  height: 70px;
  text-align: center;
  padding-top: 15px;
  color: rgb(255, 255, 255);
}
.main-container{
  display: flex;
 
}
.card-container{
  display: flex;
  justify-content: flex-end;
  
}
.card-group{
  background-color: rgb(145, 143, 146);
}